<app-header></app-header>
<div class="container-wrapper">
    <div class="mt-2">
        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" routerLinkActive="active"
                    [routerLink]="['/registration-re/child-basic']" role="tab" aria-controls="home"
                    aria-selected="true">Basic Information</a>
            </li>
            <li class="nav-item tab-list disabled">
                <a class="nav-link tab-list-content" routerLinkActive="active"
                    [routerLink]="['/registration-re/child-guarantor']">Guarantor Details</a>
            </li>
            <li class="nav-item tab-list disabled">
                <a class="nav-link tab-list-content" routerLinkActive="active"
                    [routerLink]="['/registration-re/child-admission']" role="tab" aria-controls="contact"
                    aria-selected="false">Admission Details</a>
            </li>
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" data-toggle="tab" routerLinkActive="active"
                    [routerLink]="['/registration-re/child-payorplan']" role="tab" aria-controls="contact"
                    aria-selected="false">Payor/Plan Details</a>
            </li>
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" data-toggle="tab" routerLinkActive="active"
                    [routerLink]="['/registration-re/child-authorization']" role="tab" aria-controls="contact"
                    aria-selected="false">Authorization Details</a>
            </li>
        </ul>
    </div>
</div>
<router-outlet> </router-outlet>