<!-- <app-header></app-header> -->
<div class="container-wrapper">
  <div class="ps-registration-tabs-container">

    <div class="bg-grey-l p-3">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form [formGroup]="basicForm">
          <div class="site-container d-flex align-items-center">
            <!-- <div class="input-container-wrapper"> -->
              <label class="site-label">
                Site<span class="text-danger">*</span>
              </label>

              <div class="input-group ">
                <div class="ng-autocomplete" style="width: 100%;">
                  <ng-autocomplete #auto [data]="userMappedOffices" formControlName="siteName"
                    (selected)="selectChange($event,'site')" [searchKeyword]="keyword1" [itemTemplate]="itemTemplate1">
                  </ng-autocomplete>
                  <ng-template style="width: 100%;" #itemTemplate1 let-item>
                    <a [innerHTML]="item.siteName"></a>
                  </ng-template>
                </div>
              </div>
          </div>
        </form>

        <h4 class="pb-2 AvenirLTStd-Heavy m-0 f-size-16">Basic Details</h4>
        <form class="d-flex align-items-center nav justify-content-between border-2" [formGroup]="basicForm"
          (ngSubmit)="onSubmit()">

          <div class="input-container-wrapper">
            <label class="">
              Salutation<span class="text-danger">*</span>
            </label>

            <div class="input-group ">
              <div class="ng-autocomplete" style="width: 100%;">
                <ng-autocomplete #auto [data]="saluationId" (selected)="selectChange($event,'saluationId')"
                  [searchKeyword]="Keyword" [itemTemplate]="itemTemplate">
                </ng-autocomplete>
                <ng-template style="width: 100%;" #itemTemplate let-item>
                  <a [innerHTML]="item.label"></a>
                </ng-template>
              </div>
            </div>


          </div>
          <div class=" input-container-wrapper">
            <label class="">
              Last Name<span class="text-danger">*</span>
            </label>

            <div class="input-group  ">
              <input type="text" [class.is-invalid]="f.lastName.invalid && f.lastName.touched"
                formControlName="lastName" class="form-control lastName">
            </div>

            <div *ngIf="f.lastName.invalid && f.lastName.touched && f.lastName.errors" class="errors">
              <small class="text-danger" *ngIf="f.lastName.errors?.required">Username is required!</small>
            </div>
          </div>

          <div class=" input-container-wrapper">
            <label class="">
              First Name<span class="text-danger">*</span>
            </label>

            <div class="input-group  ">
              <input type="text" [class.is-invalid]="f.firstName.invalid && f.firstName.touched"
                formControlName="firstName" class="form-control firstName">

            </div>
            <div *ngIf="f.firstName.invalid && f.firstName.touched && f.firstName.errors" class="errors">
              <small class="text-danger" *ngIf="f.firstName.errors?.required">Username is required!</small>
            </div>
          </div>
          <div class=" m-0  input-container-wrapper">
            <label class="">
              Date of Birth<span class="text-danger">*</span>
            </label>

            <div class="input-group  ">
              <input type="text" placeholder="mm/dd/yyyy " formControlName="dob" class="form-control"
                aria-label="Case Manager" bsDatepicker>

            </div>

          </div>
          <div class=" m-0  input-container-wrapper ">
            <label class="">Gender<span class="text-danger">*</span></label>
            <div class="input-group ">
              <div class="ng-autocomplete" style="width: 100%;">
                <ng-autocomplete [data]="genderId" [searchKeyword]="Keyword"
                  (selected)="selectChange($event,'genderId')" [itemTemplate]="itemTemplate">
                </ng-autocomplete>
                <ng-template style="width: 100%;" #itemTemplate let-item>
                  <a [innerHTML]="item.label"></a>
                </ng-template>
              </div>

            </div>
          </div>
          <div class=" input-container-wrapper pb-0">
            <label class="">
              Race<span class="text-danger">*</span>
            </label>
            <div class="input-group ">
              <div class="ng-autocomplete" style="width: 100%;">
                <ng-autocomplete [data]="raceId" [searchKeyword]="Keyword" (selected)="selectChange($event,'raceId')"
                  [itemTemplate]="itemTemplate">
                </ng-autocomplete>
                <ng-template style="width: 100%;" #itemTemplate let-item>
                  <a [innerHTML]="item.label"></a>
                </ng-template>
              </div>

            </div>
          </div>
          <div class=" input-container-wrapper pb-0">
            <label class="">
              Marital Status<span class="text-danger">*</span>
            </label>
            <div class="input-group ">
              <div class="ng-autocomplete" style="width: 100%;">
                <ng-autocomplete [data]="maritalStatusList" [searchKeyword]="Keyword"
                  (selected)="selectChange($event,'maritalStatusList')" [itemTemplate]="itemTemplate">
                </ng-autocomplete>
                <ng-template style="width: 100%;" #itemTemplate let-item>
                  <a [innerHTML]="item.label"></a>
                </ng-template>
              </div>

            </div>
          </div>
          <div class=" m-0  input-container-wrapper pb-0">
            <label class="">
              SSN
            </label>

            <div class="input-group  ">
              <input type="text" formControlName='ssn' class="form-control" aria-label="Case Manager">
            </div>

          </div>
          <div class=" input-container-wrapper"></div>
          <div class=" input-container-wrapper"></div>
        </form>
        <h4 class="py-2 AvenirLTStd-Heavy m-0 address-title p-0 f-size-16">Address</h4>
        <form class="d-flex align-items-center nav justify-content-between border-2" [formGroup]="basicForm"
          (ngSubmit)="onSubmit()">
          <div class="input-container-wrapper">
            <label class="">
              Location<span class="text-danger">*</span>
            </label>

            <div class="input-group ">
              <div class="ng-autocomplete" style="width: 100%;">
                <ng-autocomplete [data]="addressTypeList" [searchKeyword]="Keyword"
                  (selected)="selectChange($event,'addressTypeList')" [itemTemplate]="itemTemplate">
                </ng-autocomplete>
                <ng-template style="width: 100%;" #itemTemplate let-item>
                  <a [innerHTML]="item.label"></a>
                </ng-template>
              </div>

            </div>

          </div>

          <div class=" input-container-wrapper">
            <label class="">
              Address Lane<span class="text-danger">*</span>
            </label>

            <div class="input-group  ">
              <input type="text" formControlName="lane" class="form-control">
            </div>

          </div>
          <div class=" input-container-wrapper">
            <label class="">
              Zip Code<span class="text-danger">*</span>
            </label>

            <div class="input-group  ">
              <input type="text" class="form-control " aria-label="date" formControlName='zipcode'
                (keyup)="getzip($event)" id="autocomplete" type="text" class="form-control">


            </div>
          </div>
          <div class=" m-0  input-container-wrapper phone-container">
            <label class="">
              Phone<span class="text-danger">*</span>
            </label>

            <div class="input-group  ">
              <div class="  date-input  d-flex align-items-center w-100">
                <div class="ng-autocomplete phone-select">
                  <ng-autocomplete [data]="phoneTypeList" [searchKeyword]="Keyword"
                    (selected)="selectChange($event, 'phoneTypeList')" placeHolder="Type" [itemTemplate]="itemTemplate">
                  </ng-autocomplete>
                  <ng-template style="width: 100%;" #itemTemplate let-item>
                    <a [innerHTML]="item.label"></a>
                  </ng-template>
                </div>
                <div class="input-group ">
                  <input type="text" [class.is-invalid]="f.number.invalid && f.number.touched" formControlName="number"
                    class="form-control">
                </div>
              </div>

            </div>
            <div *ngIf="f.number.invalid && f.number.touched && f.number.errors" class="errors">
              <small class="text-danger" *ngIf="f.number.errors?.required">Mobile number is required!</small>
            </div>
          </div>
          <div class=" m-0  input-container-wrapper pb-0 ">
            <label class="">City<span class="text-danger">*</span> </label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="city" aria-label="date" [(ngModel)]="city"
                disabled=true>

            </div>
          </div>
          <div class=" input-container-wrapper pb-0">
            <label class="">
              State <span class="text-danger">*</span>
            </label>
            <div class="input-group ">
              <input type="text" class="form-control " aria-label="date" formControlName="state" [(ngModel)]="state"
                disabled="true">
            </div>
          </div>
          <div class=" input-container-wrapper pb-0">
            <label class="">
              County<span class="text-danger">*</span>
            </label>
            <div class="input-group ">
              <input type="text" class="form-control " formControlName="county" aria-label="date" [(ngModel)]="county"
                disabled="true">
            </div>
          </div>
          <div class=" m-0  input-container-wrapper pb-0">
            <label class="">
              Time Zone<span class="text-danger">*</span>
            </label>

            <div class="input-group  ">
              <input type="text" class="form-control" formControlName="timeZone" aria-label="Case Manager"
                [(ngModel)]="timeZone" disabled="true">
            </div>

          </div>
          <div class=" m-0  input-container-wrapper pb-0">
            <label class="">
              Country<span class="text-danger">*</span>
            </label>

            <div class="input-group  ">
              <input type="text" class="form-control" formControlName="country" aria-label="Case Manager"
                [(ngModel)]="country" disabled="true">
            </div>

          </div>
        </form>
        <div class="next justify-content-end mt-3">
          <button type="button" class="next-step btn-next" (click)="onSubmit()">Save & Next</button>

        </div>

      </div>
    </div>

  </div>
</div>