<!-- 
<div class="view">
    <div class="mask rgba-gradient align-items-center w-100">
        <div class="customcontainer">
            <div class="row">
                <div
                    class="col-md-6 mb-5 mt-md-0 mt-sm-0 mt-lg-5 white-text text-center  text-md-left d-flex align-items-center justify-content-center">
                    <div class="poc-item pl-4 pr-4 pt-sm-0 pt-md-0 ">
                        <div class="all-ways-caring-logo d-flex  justify-content-sm-center justify-content-md-center">
                            <img src="assets/images/all-ways-caring-logo.png" class="img-fluid">
                        </div>
                        <div class="welcome-heading-wrapper justify-content-sm-center justify-content-md-center">
                            <h3 class="welcome-To-POC-Call-Management text-dark">Welcome To POC CEAT</h3>
                        </div>
                  
                    </div>
                </div>
     
                <div
                    class="col-md-6 col-xl-6 mb-4 mt-md-0 mt-sm-0 mt-lg-5 text-center  text-md-left d-flex align-items-center justify-content-center">
                    <div class="form-item pr-4 pl-4">
                        <div
                            class="global-container d-flex justify-content-lg-end justify-content-sm-center justify-content-md-center justify-content-xs-center">
                            <div class="card login-form">
                                <div class="card-body">
                                    <div class="setting-icon ">
                                        <i class="fas fa-cog"></i>
                                    </div>
                                    <h3 class="card-title text-center">POC CEAT</h3>
                                    <div class="card-text">
                                        <div class="">
                                            <form [formGroup]="loginForm" (ngSubmit)="login()">
                                                <div class="position-relative">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control form-control-sm "
                                                            id="exampleInputEmail" placeholder="UserID" formControlName="email">
                                                    </div>
                                                    <div *ngIf="form.email.invalid && formError" class="massage text-left mt-4 ml-2">
                                                        <span *ngIf="form.email.errors?.required" class="text-danger text-left">UserID Required</span>
                                                    </div>
                                                </div>
                                                <div class="position-relative">
                                                    <div class="form-group">
                                                        <input type="password" class="form-control form-control-sm"
                                                            id="exampleInputPassword" placeholder="Password"
                                                            autocomplete="off" formControlName="password">
                                                            <span *ngIf="ShowPassword==false" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                                            <span *ngIf="ShowPassword==true" class="fa fa-fw fa-eye-slash field-icon toggle-password"></span>
                                                    </div>
                                                    <div *ngIf="form.password.invalid && formError" class="massage text-left ml-2">
                                                        <span *ngIf="form.password.errors?.required" class="text-danger text-left">Password Required</span>
                                                    </div>
                                                </div>
                                                <button type="submit"
                                                    class="btn global-button login-btn btn-block btn-login" >login</button>

                                                <div class="detail-wrapper text-center">
                                                    Copyright @ 2020. Aquila Software Inc.
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

















<div class="container-fluid page-wrapper">
    <div class="login-wrapper d-flex align-items-center justify-content-center">
        <div class="row login-inner-wrapper d-flex align-items-start justify-content-center">
            <div class="col-md-6 mt-4">
                <div class="all-ways-caring-logo">
                    <img src="assets/images/all-ways-caring-logo.png" class="img-fluid">
                </div>
                <div class="welcome-heading-wrapper">
                    <h3 class="welcome-To-POC-Call-Management text-light">Welcome To POC CEAT</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-item pr-4 pl-4">
                    <div
                        class="global-container d-flex justify-content-lg-end justify-content-sm-center justify-content-md-center justify-content-xs-center">
                        <div class="card login-form">
                            <div class="card-body">

                                <h3 class="card-title text-center">POC CEAT</h3>
                                <div class="card-text">
                                    <div class="">
                                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                                            <div class="form-group">
                                                <input type="email" class="w-100 form-control-sm border"
                                                    id="exampleInputEmail" placeholder="UserID" formControlName="email">
                                            </div>
                                            <div *ngIf="form.email.invalid && formError" class="massage text-left">
                                                <span *ngIf="form.email.errors?.required"
                                                    class="text-danger text-left">UserID Required</span>
                                            </div>
                                            <div class="form-group">
                                                <input type="{{ShowPassword ? 'text':'password'}}"
                                                    class="w-100 border form-control-sm" id="exampleInputPassword"
                                                    placeholder="Password" formControlName="password"
                                                    autocomplete="off">
                                                <span *ngIf="ShowPassword==false" toggle="#password-field"
                                                    class="fa fa-fw fa-eye field-icon toggle-password"
                                                    (click)="showpassword()"></span>
                                                <span *ngIf="ShowPassword==true" toggle="#password-field"
                                                    class="fa fa-fw fa-eye-slash field-icon toggle-password"
                                                    (click)="showpassword()"></span>
                                            </div>
                                            <div *ngIf="form.password.invalid && formError" class="massage text-left">
                                                <span *ngIf="form.password.errors?.required"
                                                    class="text-danger text-left">Password Required</span>
                                            </div>
                                            <button type="submit"
                                                class="btn global-button login-btn btn-block">login</button>

                                            <div class="detail-wrapper text-center">
                                                Copyright @ 2020. Aquila Software Inc.
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>