<!-- <p>ps-authorization works!</p> -->

<!-- <div class="title bg-dark color-white">
    <div class="container">
        <h2 class="AvenirLTStd-Heavy m-0">PS Authorization</h2>
    </div>
</div> -->
<app-header></app-header>
<div class="container-wrapper">
    <div class="ps-registration-tabs-container">
        <div class="bg-grey-l p-3">
            <h4 class="pb-2 AvenirLTStd-Heavy m-0 ">Authorization Details</h4>
        <form class="d-flex align-items-center nav justify-content-between border-2">
            <div class="input-container-inner">
                <label class="">
                    PS Name
                </label>
                <div class="d-flex ">
                    <div class="input-group  ">
                        <input type="text" class="form-control" >
                    </div>
                </div>
            </div>
            <div class="input-container-inner mx-2 width-190">
                <label class="">
                    Temp Auth<span class="text-danger">*</span>
                </label>
           
                    <div class=" example">
                        <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                          <div class="handle"></div>
                        </button>
                  </div>  

               
            </div>
            <div class=" input-container-inner">
                <label class="">
                    Auth #<span class="text-danger">*</span>
                </label>
                <div class="d-flex ">
                    <div class="input-group  ">
                        <input type="text" class="form-control" >
                    </div>
                </div>
            </div>
            <div class=" input-container-inner">
                <label class="">
                    Payor Plan<span class="text-danger">*</span>
                </label>
                <div class="d-flex ">
                    <div class="input-group  ">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class=" m-0  input-container-inner">
                <label class="">
                    Case Manager<span class="text-danger">*</span>
                </label>
                <div class="d-flex ">
                    <div class="input-group  ">
                        <input type="text" class="form-control" >
                    </div>
                </div>
            </div>
            <div class=" m-0  input-container-inner width-180">
                <label class="">Procedure Code<span class="text-danger">*</span> </label>
                <div class="input-group ">
                    <select class="form-control align-items-center">
                        <option selected>Select</option>
                        <option value="1">New York</option>
                        <option value="2">Texas</option>
                        <option value="3">New York</option>
                        <option value="4">New York</option>
                        <option value="5">New York</option>

                    </select>
                </div>

            </div>
            <div class=" input-container-inner">
                <label class="">
                    Begin Date<span class="text-danger">*</span>
                </label>
                <div class="input-group ">
                    <input type="text" class="form-control " aria-label="date" placeholder="mm/dd/yyyy">
                </div>
            </div>
            <div class=" input-container-inner">
                <label class="">
                    End Date<span class="text-danger">*</span>
                </label>
                <div class="input-group ">
                    <input type="text" class="form-control " aria-label="date" placeholder="mm/dd/yyyy">
                </div>
            </div>
            <div class=" m-0  input-container-inner">
                <label class="">
                    Billing Rate<span class="text-danger">*</span>
                </label>
                <div class="d-flex ">
                    <div class="input-group  ">
                        <input type="text" class="form-control" aria-label="Case Manager" >
                    </div>
                </div>
            </div>
            <div class=" m-0  input-container-inner width-190">
                <label class="">
                    Total Units<span class="text-danger">*</span>
                </label>
                <div class="d-flex ">
                    <div class="input-group  align-items-center">
                        <input type="text" class="form-control mr-2" aria-label="Case Manager" >
                        <label class="customcheck">
                            <input type="checkbox" >
                            <!-- checked="checked" -->
                            <span class="checkmark"></span>
                          </label>
                    </div>
                </div>
            </div>
        </form>

        <h4 class=" AvenirLTStd-Heavy m-0 py-2">Delivery Plan</h4>
        <form class="d-flex align-items-center nav justify-content-between">

            <div class=" m-0  input-container-inner">
                <label class="">
                    Effective From
                </label>
                <div class="d-flex ">
                    <div class="input-group  ">
                        <input type="text" class="form-control" aria-label="Case Manager" placeholder="mm/dd/yyyy">
                    </div>
                </div>
            </div>
            <div class=" m-0  input-container-inner">
                <label class="">
                    Effective To
                </label>
                <div class="d-flex ">
                    <div class="input-group  ">
                        <input type="text" class="form-control" aria-label="Case Manager" placeholder="mm/dd/yyyy">
                    </div>
                </div>
            </div>
            <div class=" mx-2">
                <label class="">
                    Daily
                </label>
                <div class="example">
                    <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                      <div class="handle"></div>
                    </button>
              </div>  
            </div>
            <div class="
             mx-2">
                <label class="">
                    Weekly
                </label>
                <div class="example">
                    <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                      <div class="handle"></div>
                    </button>
              </div>  
            </div>
            <div class=" mx-2">
                <label class="">
                    Monthly
                </label>
                <div class=" example">
                    <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                      <div class="handle"></div>
                    </button>
              </div>  
            </div>
            <div>

            </div>
        </form>
        <div>


            <h4 class=" AvenirLTStd-Heavy m-0 py-2
            ">Weekly</h4>
            <div class="border-2">


                <form class="d-flex align-items-center nav justify-content-between">
                    <div class=" m-0  input-container-inner">
                        <label class="">
                            Max Units
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" aria-label="Max Units" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class=" m-0  input-container-inner">
                        <label class="">Per Week</label>
                        <div class="input-group ">
                            <select class="form-control align-items-center">
                                <option selected>Select</option>
                                <option value="1">New York</option>
                                <option value="2">Texas</option>
                                <option value="3">New York</option>
                                <option value="4">New York</option>
                                <option value="5">New York</option>

                            </select>
                        </div>

                    </div>
                    <div class=" m-0  input-container-inner">
                        <label class="">
                            #Weeks
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class=" m-0  input-container-inner">
                        <label class="">
                            #Days Per Week
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>
                </form>
                <form class="d-flex align-items-center nav justify-content-between">
                    <div class=" m-0  input-container-inner day-input">
                        <label class="">
                            SUN
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class=" m-0  input-container-inner day-input">
                        <label class="">
                            MON
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class=" m-0  input-container-inner day-input">
                        <label class="">
                            TUE
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class=" m-0  input-container-inner day-input">
                        <label class="">
                            WED
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class=" m-0  input-container-inner day-input">
                        <label class="">
                            THU
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class=" m-0  input-container-inner day-input">
                        <label class="">
                            FRI
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class=" m-0  input-container-inner day-input">
                        <label class="">
                            SAT
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-between row m-0">
            <div class="col-md-6 col-12 pl-0">

                <h4 class="AvenirLTStd-Heavy m-0 py-2">Daily</h4>
                <form class="d-flex align-items-center nav justify-content-between border-2">
                    <div class=" m-0  input-container-inner">
                        <label class="">
                            Max Units Per Days
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class=" m-0  input-container-inner">
                        <label class="">
                            #Days
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-6 p-0 col-12">

                <h4 class="py-2 AvenirLTStd-Heavy m-0 ">Monthly</h4>
                <form class="d-flex align-items-center nav justify-content-between border-2">
                    <div class=" m-0  input-container-inner">
                        <label class="">
                            Max Units Per Day
                        </label>
                        <div class="d-flex ">
                            <div class="input-group  ">
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>


        <!-- <div class="d-flex align-items-center justify-content-end mt-3">
         
            <div class="next">
                <button type="button" class="btn-info  btn-next">Save</button>
            </div>
           
        </div> -->
        <div class="d-flex align-items-center justify-content-between mt-3">
            <div class="previous">
                <button type="button" class="btn-info  btn-next prev-step" >Previous</button>
            </div>
            <div class="next">
                <button type="button" class="btn-info  btn-next">Save</button>
            </div>
        </div> 
        </div>
    </div>
</div>



  
  
  
