<!-- <p>ps-listing works!</p> -->
<div class="title bg-blue color-white">
    <div class="container">
        <h3 class="m-0 text-center">List of Person Served</h3>
    </div>
</div>
<div class="container-fluid listing-container mt-2">
    <div class="ps-registration-tabs-container">
        <div class="interface-container">
            <div class="show-entries d-flex align-items-center">
                <a class="grey-btn nav align-items-center create-ps-button"
                    [routerLink]='["/registration-re/child-basic"]'>
                    <span class="material-icons">
                        person
                    </span>
                    Create PS</a>
            </div>
            <div class="table-container">

                <div class="table-responsive listing-table">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th scope="col" class="sticky-top"> PS Name</th>
                                <th scope="col" class="sticky-top">Home Site</th>
                                <th scope="col" class="sticky-top">MRN</th>
                                <th scope="col" class="sticky-top">SSN</th>
                                <th scope="col" class="sticky-top">Phone</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let data of listingPageData">
                                <!-- <td class="position-relative">

                                    <div class="d-flex align-items-center ">
                                        <i class="fas fa-info-circle icon-toggle f-size-25" id="toggle"></i>
                                        <span class="ml-2 " [tooltip]="gps" containerClass="customClass"
                                            tooltipPlacement="right">
                                            <i class="fas fa-edit f-size-20"></i>
                                            <ng-template #gps>Edit PS</ng-template>
                                        </span>
                                      
                                    </div>
                                    <span class="inner-icons hide icon-blue">
                                        <div>
                                            <div class="d-flex multi-iconboard">
                                                <i>
                                                    <span class="material-icons f-size-20">
                                                        call
                                                    </span>

                                                </i>

                                                <i>
                                                    <span class="material-icons f-size-20">
                                                        group
                                                    </span>
                                                </i>
                                                <i class="far fa-calendar-alt"></i>
                                                <i>
                                                    <span class="material-icons f-size-20">
                                                        call
                                                    </span>
                                                </i>
                                                <i class="fas fa-cog"></i>
                                            </div>
                                        </div>
                                    </span>
                                </td> -->
                                <td>{{data.PSName}}</td>
                                <td>{{data.homeSite}}</td>

                                <td>{{data.mrn}}</td>
                                <td>{{data.ssn}}</td>
                                <td>{{data.phone}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="d-flex align-items-center justify-content-end pagination">
                    <div>
                        <span class="footer-text">Per Page</span>
                        <select class="pagination-select border-0">
                            <option>
                                10
                            </option>
                            <option>
                                10
                            </option>
                        </select>
                        <span class="footer-text">Showing<span>1</span> to <span>10</span> of<span>500</span></span>
                                <button class="prev-next">Prev</button>
                                <button class="prev-next">Next</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>