<!-- <app-header></app-header>
<div class="container-wrapper">
  <div class="ps-registration-tabs-container">
    <div class="bg-grey-l p-3">

      <h4 class="pb-2 AvenirLTStd-Heavy m-0 ">Admission Details</h4>
      <form class="form-group" [formGroup]="admissionForm"
        class="d-flex align-items-center nav justify-content-between border-2">
        <div class=" input-container-wrapper">
          <label class="">
            PS
          </label>

          <div class="input-group  ">
            <input type="text" class="form-control" formControlName="ps">
          </div>

        </div>
        <div class=" input-container-wrapper">
          <label class="">
            Coordinator<span class="text-danger">*</span>
          </label>

          <div class="input-group  ">
            <input type="text" class="form-control">

          </div>
        </div>

        <div class=" m-0  input-container-wrapper">
          <label class="">
            Guarantor
          </label>

          <div class="input-group">
            <input type="text" class="form-control">
          </div>

        </div>
        <div class=" m-0  input-container-wrapper">
          <label class="">
            Admission Date<span class="text-danger">*</span>
          </label>

          <div class="input-group  ">

            <input type="text" placeholder="mm/dd/yyyy " class="form-control" aria-label="Case Manager" bsDatepicker>

          </div>

        </div>
        <div class=" m-0  input-container-wrapper">
          <label class="">
            First Visit Date<span class="text-danger">*</span>
          </label>

          <div class="input-group  ">

            <input type="text" placeholder="mm/dd/yyyy" class="form-control" aria-label="Case Manager" bsDatepicker>
          </div>

        </div>
        <div class=" m-0  input-container-wrapper">
          <label class="">
            Referred Date<span class="text-danger">*</span>
          </label>

          <div class="input-group  ">
            <input type="text" placeholder="mm/dd/yyyy" class="form-control" aria-label="Case Manager" bsDatepicker>
          </div>

        </div>
        <div class=" m-0  input-container-wrapper visibility-hidden display-none-sm">

        </div>
        <div class=" m-0  input-container-wrapper visibility-hidden display-none-sm">

        </div>
      </form>

      <h4 class="AvenirLTStd-Heavy py-2 m-0">ICD-10 Diagnosis Code <span class="text-danger">*</span></h4>
      <div class="border-1 ">
        <div class="table-responsive icd-table-container">

          <table class="table border-bottom diagnosis-code-table m-0">
            <thead>
              <tr>
                <th scope="col">delete</th>
                <th scope="col">Rank</th>
                <th scope="col">Diagnosis Code </th>
                <th scope="col">Diagnosis Name</th>
              </tr>
            </thead>


            <tbody>
              <tr *ngFor="let field of tableData; let i = index">
                <td>
                  <div class="bg-whiite remove-item" (click)="deleteFieldValue(i)" title="remove">
                    <span class="material-icons material-icon-remove">
                      clear
                    </span>
                  </div>
              </td>
                <td>
                    <input [(ngModel)]="field.id" class="form-control" type="text" name="{{field.id}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
                </td>
                <td>
                    <input [(ngModel)]="field.code" class="form-control" type="text" name="{{field.code}}" />
                </td>


            </tr>
            <tr *ngFor="let i=index" >

                <td>
                    <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.id" name="newAttributeCode" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName" />
                </td>
                <td>
                    <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.code" name="newAttributePrice" />
                </td>
                <div class="bg-whiite remove-item" (click)="deleteFieldValue(i)" title="remove">
                  <span class="material-icons material-icon-remove">
                    clear
                  </span>
                </div>

            </tr>
            </tbody>
          </table>
        </div>



        <div class="next pr-0 d-flex justify-content-center height-50">
          <button type="button" (click)="addFieldValue()" class="btn-info  btn-next add-diagnsis-button">Add
            Diagnosis</button>
        </div>


      </div>


      <div class="d-flex align-items-center justify-content-between mt-3">
        <div class="previous">
          <button type="button" class="btn-info  btn-next prev-step" (click)="getGuarantorDetails()">Previous</button>
        </div>
        <div class="next">
          <button type="button" class="btn-info  btn-next" (click)="onSave()">Save</button>
        </div>
        <div class="next">
          <button type="button" class="btn-info next-step btn-next">Next</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <app-header></app-header> -->
<!-- <div class="container-wrapper">
  <div class="ps-registration-tabs-container">
    <div class="bg-grey-l p-3">

      <h4 class="pb-2 AvenirLTStd-Heavy m-0 ">Admission Details</h4>
      <form class="form-group" [formGroup]="admissionForm"
        class="d-flex align-items-center nav justify-content-between border-2">
        <div class=" input-container-wrapper">
          <label class="">
            PS
          </label>

          <div class="input-group ">
            <input type="text" class="form-control" formControlName="ps">
          </div>

        </div>
        <div class=" input-container-wrapper">
          <label class="">
            Coordinator<span class="text-danger">*</span>
          </label>

          <div class="input-group ">
            <input type="text" class="form-control">

          </div>
        </div>

        <div class=" m-0 input-container-wrapper">
          <label class="">
            Guarantor
          </label>

          <div class="input-group">
            <input type="text" class="form-control">
          </div>

        </div>
        <div class=" m-0 input-container-wrapper">
          <label class="">
            Admission Date<span class="text-danger">*</span>
          </label>

          <div class="input-group ">

            <input type="text" placeholder="mm/dd/yyyy " class="form-control" aria-label="Case Manager" bsDatepicker>

          </div>

        </div>
        <div class=" m-0 input-container-wrapper">
          <label class="">
            First Visit Date<span class="text-danger">*</span>
          </label>

          <div class="input-group ">

            <input type="text" placeholder="mm/dd/yyyy" class="form-control" aria-label="Case Manager" bsDatepicker>
          </div>

        </div>
        <div class=" m-0 input-container-wrapper">
          <label class="">
            Referred Date<span class="text-danger">*</span>
          </label>

          <div class="input-group ">
            <input type="text" placeholder="mm/dd/yyyy" class="form-control" aria-label="Case Manager" bsDatepicker>
          </div>

        </div>
        <div class=" m-0 input-container-wrapper visibility-hidden display-none-sm">

        </div>
        <div class=" m-0 input-container-wrapper visibility-hidden display-none-sm">

        </div>
      </form>

      <h4 class="AvenirLTStd-Heavy py-2 m-0">ICD-10 Diagnosis Code <span class="text-danger">*</span></h4>
      <div class="border-1 ">
        <div class="table-responsive icd-table-container">

          <table class="table border-bottom diagnosis-code-table m-0">
            <thead>
              <tr>
                <th scope="col">delete</th>
                <th scope="col">Rank</th>
                <th scope="col">Diagnosis Code </th>
                <th scope="col">Diagnosis Name</th>
              </tr>
            </thead>
            <!-- <tbody>
<tr *ngFor="let data of tableData;let i=index">
<td>
<div class="bg-whiite remove-item" title="remove">
<span class="material-icons material-icon-remove">
clear
</span>
</div>
</td>
<td>
<div class="input-group">
<select class="form-control p-0 align-items-center">
<option selected>Select</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>

</select>
</div>

</td>
<td>

<input type="text" class="form-control " value="{{data.name}}" placeholder="">
</td>
<td class="border-right-0">
<input type="text" class="form-control " value="{{data.code}}" placeholder=""></td>
</tr>
</tbody> -->

       <!--     </table>
        </div>



        <div class="next pr-0 d-flex justify-content-center height-50">
          <button type="button" class="btn-info btn-next add-diagnsis-button">Add
            Diagnosis</button>
        </div>


      </div>


     <div class="d-flex align-items-center justify-content-between mt-3">
        <div class="previous">
          <button type="button" class="btn-info btn-next prev-step" (click)="getGuarantorDetails()">Previous</button>
        </div>
        <div class="next">
          <button type="button" class="btn-info btn-next" (click)="onSave()">Save</button>
        </div>
        <div class="next">
          <button type="button" class="btn-info next-step btn-next">Next</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- admissionForm: FormGroup;

  //code;
  field1;
  I;
  id = 'id';
  name = 'name'
  code = 'code'
  public tableData = {
    "salutationList": [
      { "id": 401, "label": "karunya", "id1": 1, "label1": "Home111" },
      { "id": 402, "label": "miss", "id1": 2, "label1": "Work" },
      { "id": 403, "label": "diana", "id1": 3, "label1": "School" },
      { "id": 404, "label": "asha", "id1": 4, "label1": "Other" }
    ]

  }
  name1: any;
  public fieldArray: Array<any> = [];
  public newAttribute: any = {};

  constructor(private fb: FormBuilder, public service: ZipcodeService) { }
  ngOnInit() {
    this.newAttribute = { rank: null, name: '', code: '' };
    this.fieldArray.push(this.newAttribute)
    this.admissionForm = this.fb.group({
      ps: ['', Validators.required],
      guarantor: ['', Validators.required],
      dob: ['', Validators.required],
      // name: ['']

    });
  }
  get f() {

    return this.admissionForm.controls;

  }
  onSave() {
    console.log("hgfdsrdtfghjkl");
    console.log(this.admissionForm.value);
  }


  addFieldValue() {
    this.fieldArray.push(this.newAttribute)
    // this.newAttribute = {};
  }

  deleteFieldValue(index) {
    if (this.fieldArray.length !== 1) {
      this.fieldArray.splice(index, 1);
      console.log(this.fieldArray.length);
    }
    if (this.fieldArray.length === 0) {
      console.log(this.fieldArray.length);
      alert('value cant be null');
    }
  }
  public getGuarantorDetails() {
    let guarantorDetails = localStorage.getItem('guarantor')
    let getGuarantor = JSON.parse(guarantorDetails)
    let getGuarantorId = getGuarantor.psGuarId;
    // this.service.getGuarantorDetails().subscribe(res => {
    // console.log(res, 'getGuarantorDetails')
    // });
  }
  // getDiagnosisCode() {
  //   this.newAttribute = { rank: '', name: '', code: '' }
  //   this.fieldArray.push(this.newAttribute);
  // }
  // public count = 1;
  // public displayName(name, index) {
  //   //  console.log(code)
  //   this.tableData.salutationList.forEach(ele => {
  //     if (ele.label === name.target.value) {
  //       alert("fdrtygukl");
  //       this.I = ele.label1;
  //       console.log(this.I);
  //       // this.newAttribute['code']=this.I
  //       // this.newAttribute['name']=name.target.value
  //      // console.log(this.newAttribute({'name':name.target.value,'code':this.I}))
  //     }
  //   });
  //   console.log(this.newAttribute);
  //   console.log(this.fieldArray.push({'name':name.target.value,'code':this.I}))
  //   console.log(this.fieldArray);
  // } -->
